name: CI/CD Deploy Project1

on:
  push:
    branches: [ main ]

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install SAM CLI
        run: |
          python -m pip install --upgrade pip
          pip install aws-sam-cli

      - name: Build with SAM
        working-directory: project-01-serverless-data-qc
        run: sam build

      - name: Deploy with SAM
        working-directory: project-01-serverless-data-qc
        env:
          INPUT_BUCKET: ${{ secrets.INPUT_BUCKET }}
        run: |
          sam deploy \
            --stack-name project1-data-qc \
            --parameter-overrides InputBucketName=${INPUT_BUCKET} \
            --region ${{ secrets.AWS_REGION }} \
            --capabilities CAPABILITY_IAM CAPABILITY_NAMED_IAM \
            --no-confirm-changeset \
            --no-fail-on-empty-changeset
